<style>
  .footer {
    padding: 1rem;
    background-color: rgb(249, 247, 250);
  }
  .footer-image {
    width: 10rem;
  }

  @media (max-width: 411px) {
    h5,
    p,
    a,
    li {
      font-size: 80%;
    }
    .footer-image {
      width: 20%;
    }
  }
</style>
<footer class="pt-7 mt-auto" id="footer">
  <div class="footer">
    <!-- Footer 4 column -->
    <div class="row">
      <div class="col-xxl-5 col-lg-5 col-md-7">
        <div class="mb-7 mb-xl-0">
          <div class="mb-4">
            <a href="#">
              <img
                src="https://cdn.glitch.global/df8a6ff6-7a96-4f38-8d04-cd1e8eebfeae/BikePoolers_new.png?v=1717738149688"
                alt="logo"
                class="text-inverse footer-image" />
            </a>
          </div>
          <p class="mb-5">Innovating for tomorrow. .</p>
        </div>
      </div>
      <div class="offset-xxl-1 col-xxl-6 col-lg-6 offset-md-1 col-md-4">
        <div class="row" id="ft-links">
          <div class="col-lg-4 col-12">
            <div class="position-relative">
              <div
                class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0">
                <h5>Product</h5>
                <a
                  class="d-block d-lg-none stretched-link text-inherit"
                  data-bs-toggle="collapse"
                  href="#collapseLanding"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseLanding">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div
                class="collapse d-lg-block"
                id="collapseLanding"
                data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0">
                  <li class="mb-2">
                    <a href="/" class="text-decoration-none text-reset">Home</a>
                  </li>
                  <li class="mb-2">
                    <a href="/bookings" class="text-decoration-none text-reset"
                      >Bookings</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      href="/bookings/new"
                      class="text-decoration-none text-reset"
                      >Start Riding</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      href="/bookings/about"
                      class="text-decoration-none text-reset"
                      >About Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div
              class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
              <h5>Follow Us</h5>
              <a
                class="d-block d-lg-none stretched-link text-inherit"
                data-bs-toggle="collapse"
                href="#collapseResources"
                role="button"
                aria-expanded="false"
                aria-controls="collapseResources">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div
              class="collapse d-lg-block"
              id="collapseResources"
              data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0">
                <div class="mb-2 d-flex">
                  <a href="#!" class="text-reset btn btn-instagram btn-icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="#!" class="text-reset btn btn-facebook btn-icon">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#!" class="text-reset btn btn-twitter btn-icon">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </div>
                <li class="mb-2">Andhra Pradesh, India</li>
                <li class="mb-2">abdulazeezmd060@gmail.com</li>
                <li class="mb-2">madivadapr@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer mt-7 mb-3">
    <div class="row align-items-center">
      <div class="col-md-9">
        <div class="small mb-3 mb-md-0">
          Copyright © 2024

          <span class="text-primary"><a href="#">BikePoolers</a></span>
          | Designed with love
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>
