<style>
  .navbar {
    height: 5rem;
    background-color: white;
    z-index: 100;
  }

  .headlink {
    font-size: 1rem;
  }

  .login {
    padding: 0.2rem;
    font-size: 1rem;
    border-radius: 50px;
    color: white;
  }

  #highlight {
    color: rgb(49, 113, 219);
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 1px 1px;
  }
</style>

<div class="navbar navbar-expand-md sticky-top border-bottom">
  <div class="container-fluid ms-1 me-1">
    <div class="ms-3">
      <a class="navbar-brand" href="#"><span id="highlight">bike</span>Pool</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2">
        <li class="nav-item ms-3">
          <a href="/" class="nav-link headlink active">Home</a>
        </li>
        <li class="nav-item ms-3">
          <a href="/bookings" class="nav-link headlink">Bookings</a>
        </li>
        <% if ( currUser && currUser.role == 'driver') { %>
        <li class="nav-item ms-3">
          <a href="/bookings/new" class="nav-link headlink">Drive</a>
        </li>
        <% } %> <% if (currUser) { %>
        <li class="nav-item ms-3">
          <a href="/bookings/myorders" class="nav-link headlink">My Bookings</a>
        </li>
        <% } %>

        <li class="nav-item badge text-bg-primary login ms-3 me-3">
          <% if (!currUser) { %>
          <a href="/user/login" class="nav-link" style="color: white">
            <i class="fa-regular fa-user me-2" style="color: #ffffff"></i
            >Login</a
          >
          <% } else { %>
          <a href="/user/profile" class="nav-link" style="color: white">
            <i class="fa-regular fa-user me-2" style="color: #ffffff"></i><%=
            currUser.role %></a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</div>
