<% layout('./layout/boilerplate') -%>
<style>
  body {
    overflow: scroll;
  }
  .container {
    padding: 2rem;
    background-color: rgb(250, 247, 250);
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
  }

  .bike {
    position: relative;
    top: 2rem;
    bottom: 0rem;
    left: auto;
    right: auto;
  }

  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 990px) {
    .driver-form {
      min-width: 25rem;
    }
  }

  @media (max-width: 992px) {
    .container {
      padding: 20px;
      min-width: 20rem;
      flex-direction: column;
      margin: 2rem;
    }
    .driver-form {
      width: 100%;
    }
  }

  @media (max-width: 712px) {
    .drive-image {
      min-width: 100%;
      width: 80%;
    }
  }

  @media (max-width: 510px) {
    .driver-form {
      width: 100%;
    }
  }
</style>
<!-- <link rel="stylesheet" href="/css/bike.css" /> -->
<body>
  <div class="outer-container">
    <div class="container border mb-3">
      <form
        action="/bookings"
        class="needs-validation driver-form"
        method="post"
        novalidate>
        <legend>Drive</legend>
        <div class="mb-3">
          <label for="pickUp" class="form-label">Enter PickUp location</label>
          <input
            type="text"
            id="pickUp"
            class="form-control"
            name="booking[pickUp]"
            placeholder="Starting At"
            maxlength="40"
            required />
          <div class="invalid-feedback">Please choose Pick Up Point.</div>
        </div>
        <div class="mb-3">
          <label for="dropIn" class="form-label">Enter DropIn location</label>
          <input
            type="text"
            id="dropIn"
            class="form-control"
            name="booking[dropIn]"
            placeholder="Destination"
            maxlength="40"
            required />
          <div class="invalid-feedback">Please choose a Drop In Point.</div>
        </div>
        <div class="mb-3">
          <label for="timeToStart" class="form-label">Will start in</label>
          <input
            type="text"
            id="timeToStart"
            class="form-control"
            name="booking[time]"
            placeholder="Eg 2, 5, 10 (in minutes)"
            required />
          <div class="invalid-feedback">
            Please specify in how many minutes you will start
          </div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            id="price"
            class="form-control"
            name="booking[price]"
            placeholder="Eg 10, 12, 15 (in rupees)"
            required />
          <div class="invalid-feedback">Please specify price</div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>

      <div class="bike">
        <div class="bicycle-container">
          <div class="wheel back-wheel">
            <div class="tire"></div>
            <div class="rim"></div>
            <div class="spokes"></div>
            <div class="spokes"></div>
            <div class="hub"></div>
          </div>
          <div class="wheel front-wheel">
            <div class="tire"></div>
            <div class="rim"></div>
            <div class="spokes"></div>
            <div class="spokes"></div>
            <div class="hub"></div>
          </div>
          <div class="gear">
            <div class="gear-red"></div>
            <div class="tube pedal-tube"></div>
            <div class="pedal"></div>
          </div>
          <div class="tube chain-tube"></div>
          <div class="tube seat-tube-back"></div>
          <div class="tube seat-tube-front"></div>
          <div class="tube seat-tube-post"></div>
          <div class="tube top-tube"></div>
          <div class="tube top-handlebar-tube"></div>
          <div class="tube top-handlebar-tube2"></div>
          <div class="tube down-tube"></div>
          <div class="tube head-tube"></div>
          <div class="tube head-tube-post"></div>
          <div class="saddle"></div>
          <div class="handlebars"></div>
        </div>
        <div class="ground-container">
          <div class="ground ground1"></div>
          <div class="ground ground2"></div>
          <div class="ground ground3"></div>
        </div>
      </div>
      <div class="image-div">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/man-booking-cab-through-mobile-app-8834078-7190204.png"
          alt=""
          class="drive-image" />
      </div>
    </div>
  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      "use strict";

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll(".needs-validation");

      // Loop over them and prevent submission
      Array.from(forms).forEach((form) => {
        form.addEventListener(
          "submit",
          (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  </script>
  <!-- <script src="/js/bike.js"></script> -->
</body>
