<style>
  .error-image {
    width: 60%;
  }
  .home-page {
    font-size: x-large;
  }
  a {
    text-decoration: none;
  }
</style>
<%- layout('./layout/boilerplate') %>
<div class="container text-center">
  <img
    class="error-image"
    src="https://cdni.iconscout.com/illustration/premium/thumb/error-404-page-not-available-9561127-7706458.png"
    alt="" />
  <p class="error-p">Go back to home page</p>
  <span class="badge badge-primary home-page"
    ><a href="/" class="">Home</a></span
  >
</div>
