<% layout('./layout/boilerplate') -%>
<style>
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  span {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
</style>
<body>
  <div class="container">
    <div class="driver">
      <span class="badge text-bg-secondary">Driver</span>
    </div>
    <div class="rider">
      <span class="badge text-bg-secondary">User</span>
    </div>
  </div>
</body>
